.dock {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);

  height: 8rem;
  width: 65%;

  padding: 10px;

  display: flex;
  flex-direction: row;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  border-radius: 10px 10px 0 0;
  border: 2px solid #1F271B;
  border-bottom-style: none;
  background-color: #F4EDEA;
}

.sub-neurons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  width: 40%;
  height: 100%;
  border-right: 2px solid #1F271B;
}

.sub-tools {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 30%;
  height: 100%;

  border-right: 2px solid #1F271B;
}

.sub-simulation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  width: 30%;
  height: 100%;
}