@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 4rem;
  padding: 10px 30px;

  background-color: #F4EDEA;
  border-bottom: 2px solid #1F271B;
}

.logo {
  font-size: 36px;
  color: #1F271B;
  font-family: "Quicksand";
  font-weight: 600;
}

.navbar {
  overflow: hidden;
}

.navbar p {
  float: left;
  display: block;
  text-align: center;
  padding: 10px;

  font-size: 20px;
  color: #1F271B;
  font-family: "Quicksand";
  font-weight: 400;
  transition: background-color 0.1s ease;
}

.navbar p:hover {
  background-color: #e4d2cb;
}