@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.neuron-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  padding: 5px;

  width: auto;
  height: auto;

  border-radius: 10px;
  transition: background-color 0.1s ease;
}

.neuron-container:hover {
  background-color: #e4d2cb;
}

.neuron {
  width: 84px;
  height: 84px;

  pointer-events: none;
  user-select: none;
}


.title {
  font-family: "Quicksand";
  font-weight: 400;
  color: #1F271B;
  font-size: 16px;

  margin: 4px;

  pointer-events: none;
  user-select: none;
}