.neuron-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: -20px;
  padding: 20px;
  pointer-events: auto;
}

.neuron {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.neuron img {
  width: 140%;
  height: 140%;

  z-index: 9998;

  user-select: none;
  pointer-events: none;
}

.neuron p {
  position: absolute;
  z-index: 9999;
}

.icons-container {
  position: absolute;
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 0;
}

.icon {
  position: absolute;
  font-size: 24px;
  pointer-events: all;
  color: #1F271B;

  z-index: 9999;
}

.up {
  top: -10px;
}

.down {
  bottom: -10px;
}

.left {
  left: -10px;
}

.right {
  right: -10px;
}